@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --mainblue: #38405f;
  --maingreen: #d3efbd;
  --mainmustard: #f1a208;
}


::placeholder {
  color: var(--maingreen);
}

body {
  margin: 0 auto;
  background-color: var(--mainblue);
  font-family: "poppins";
  width: 90%;
}

main h1 {
  color: var(--maingreen);
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: 40px;
  text-shadow: black 2px 2px;
}

main p {
  text-align: center;
  color: var(--maingreen);
}

.input__fields {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.input__fields input {
  background-color: var(--mainblue);
  border: 1px solid lightgray;
  padding: 8px 16px;
  border-radius: 20px;
  color: var(--maingreen);
}

button {
  background-color: var(--maingreen);
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px 15px;
  font-weight: 600;
  transition: ease-in 100ms;
}

button:hover {
  background-color: black;
  color: var(--maingreen);
}

.edit__btn {
  max-width: 55px;
  padding-right: 30px;
}

.alert__space {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainmustard);
}
.contact__list {
  display: flex;
  justify-content: center;
}

.contact__list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.contact__list ul li {
  margin-top: 5px;
}

.contact__list ul li input {
  padding: 5px 10px;
  background-color: var(--mainblue);
  color: var(--mainblue);
  border: none;
  background-color: var(--maingreen);
  border-radius: 5px;
  margin-left: 5px;
}
